@charset "UTF-8";

/****************************************************
 * Author: Wouter De Schuuter
 * Project: The Three Little Pigs
 * Start date: 10/01/2012
 * Last update: 14/01/2012
 *
 * Website: http://wouterds.be/
 * Email: info[at]wouterds[dot]be
 * Twitter: http://twitter.com/WouterDS
*****************************************************/

/* General Elements
*****************************************************/
* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

body {
	background: url("../img/bodyBg.png") top left repeat;
	color: #333;
	font-family: Tisa, Arial, sans-serif;
	font-size: 62.5%;
	position: relative;
}

a {
	text-decoration: none;
	color: #000;
	padding: 1px 2px 3px 2px;
}

a:hover {
	color: #FFF;
	background: #000;
}

h1,
h2,
h3,
h4 {
	font-family: "League Gothic", Arial, sans-serif;
	margin-top: 25px;
	margin-bottom: 10px;
}

h1 + h2,
h2 + h3,
h3 + h4 {
	margin-top: 5px;
}

h1 {
	font-size: 3.2em;
}

h2 {
	font-size: 2.6em;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1.6em;
}

p {
	margin: 15px 0;
}

p + p {
	margin-top: 30px;
}

ol,
ul {
	padding-left: 30px;
}

code {
	background: #F5F5F5;
	color: #444;
	font-family: Menlo, Monaco, Monospace, Courier New;
	line-height: 20px;
	font-size: 0.9em;
	display: block;
	padding: 10px;
	border: 1px solid #CCC;
}

form.styled {
	overflow: hidden;
}

form.styled br {
	clear: both;
}

form.styled label {
	float: left;
	width: 100px;
	margin: 5px;
	line-height: 24px;
}

form.styled input,
form.styled textarea {
	float: left;
	margin: 5px;
	padding: 5px;
	width: 250px;
	font-size: 12px;
	border: 1px solid #CCC;
	background: #FAFAFA;
	font-family: Verdana, sans-serif;
}

form.styled textarea {
	height: 150px;
	width: 255px;
}

form.styled input[type="submit"] {
	width: auto;
	margin-left: 115px;
	padding: 5px 10px;
}

table {
	border-collapse: collapse;
	background: rgba(255, 255, 255, 0.5);
}

table tr td,
table tr th {
	border: 1px solid #000;
	padding: 2.5px 7.5px;
}

table tr th {
	background: #222;
	color: #FFF;
	border-right: 1px solid #000;
	text-align: left;
}

table tr th.last {
	border-right: 1px solid #000;
}


/* General Classes
*****************************************************/
div.centerContainer {
	width: 960px;
	margin: 0 auto;
}

.notification {
	padding: 3px 10px 5px 10px;
	display: block;
}

.green {
	background: #DFF4CB;
	color: #3A7202;
	border: 1px solid #A3CE77;
}

.red {
	background: #F7D4D4;
	color: #D64848;
	border: 1px solid #E5A2A2;
}

.yellow {
	background: #FFF8D3;
	color: #BA8209;
	border: 1px solid #FFC300;
}

.minimal {
	background: none;
	border: none;
	padding: 0;
}

.clear {
	clear: both;
}


/* Top
*****************************************************/
#top {
	background: url("../img/topBg.png") top left repeat-x;
	height: 233px;
}

#top ul {
	font-family: "League Gothic", Arial, sans-serif;
}

#top ul a {
	color: #DDD;
	text-decoration: none;
	font-size: 1.8em;
	padding: 11px 15px;
	letter-spacing: 0.3px;
}

#top ul li {
	display: inline-block;
	list-style-type: none;
	padding: 11px 0;
}

#top ul li#active,
#top ul li:hover,
#top ul:hover li#active:hover {
	background: url("../img/menuArrow.png") top center no-repeat;
}

#top ul:hover li#active {
	background: none;
}

#top ul li#active a,
#top ul li:hover a,
#top ul:hover li#active:hover a {
	color: #FFF;
	background: none;
}

#top ul:hover li#active a {
	color: #DDD;
}

#header {
	background: url("../img/headerLogo.png") 15px center no-repeat;
	height: 160px;
}

#header h1 {
	text-indent: -10000px;
	height: 165px;
	background: url("../img/headerTitle.png") center left no-repeat;
	margin: 0 0 0 235px;
}

#middle div.centerContainer {
	padding: 30px 15px;
}


/* Middle
*****************************************************/
#middle {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: -289px;
	font-size: 1.4em;
	padding-bottom: 35px;
}

#middle p, #middle ul,
#middle ol, #middle table {
	line-height: 30px;
}

#fixFooter {
	height: 289px;
	clear: both;
}


/* Bottom
*****************************************************/
#bottom {
	background: url("../img/bottomBg.png") top left repeat-x;
	height: 289px;
	font-size: 1.4em;
	overflow: hidden;
	color: #EEE;
}

#bottom a {
	color: #FFF;
}

#bottom a:hover {
	background: #FFF;
	color: #000;
}

#bottom ul {
	list-style: none;
	padding-left: 0;
	line-height: 30px;
	display: inline-block;
	margin-bottom: 15px;
}

#bottom h3 {
	color: #FFF;
	margin-bottom: 0px;
}

#bottom div.centerContainer {
	overflow: hidden;
}

#bottom div.left {
	float: left;
	width: 650px;
	overflow: hidden;
}

#bottom div.right {
	float: right;
	width: 250px;
}

#bottom div.left div.left {
	float: left;
	width: 250px;
}

#bottom div.left div.left ul li {
	padding-bottom: 10px;
}

#bottom div.left div.right {
	float: right;
	width: 330px;
}

#bottom div.left div.left h3 {
	margin-bottom: 15px;
}

#bottom div.left div.right h3 {
	margin-bottom: 27px;
}

#footerBar {
	padding: 15px;
	text-align: center;
	color: #AAA;
}