@charset UTF-8;
html,body{height:100%}
body{background:url(../img/bodyBg.png) top left repeat;color:#333;font-family:Tisa, Arial, sans-serif;font-size:62.5%;position:relative}
a{text-decoration:none;color:#000;padding:1px 2px 3px}
a:hover{color:#FFF;background:#000}
h1,h2,h3,h4{font-family:"League Gothic", Arial, sans-serif;margin-top:25px;margin-bottom:10px}
h1 + h2,h2 + h3,h3 + h4{margin-top:5px}
h1{font-size:3.2em}
h2{font-size:2.6em}
h4{font-size:1.6em}
p{margin:15px 0}
p + p{margin-top:30px}
ol,ul{padding-left:30px}
code{background:#F5F5F5;color:#444;font-family:Menlo, Monaco, Monospace, Courier New;line-height:20px;font-size:.9em;display:block;border:1px solid #CCC;padding:10px}
form.styled label{float:left;width:100px;line-height:24px;margin:5px}
form.styled .note{line-height:24px;color:#777;font-style:italic;float:left;padding:5px}
form.styled input,form.styled textarea,form.styled select{float:left;width:400px;font-size:12px;border:1px solid #CCC;background:#FAFAFA;font-family:Verdana, sans-serif;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;margin:5px;padding:5px}
form.styled input:focus,form.styled textarea:focus,form.styled select{border-color:#AAA}
form.styled select{width:410px;padding:5px}
form.styled .error{border-color:#F7E1E1}
form.styled textarea{height:200px}
form.styled input[type=submit]{width:auto;margin-left:115px;cursor:pointer;padding:5px 10px}
form.styled input[type=radio],form.styled input[type=checkbox]{width:auto;margin-left:15px}
table{background:rgba(255,255,255,0.5);border-collapse:collapse}
table tr td,table tr th{border:1px solid #000;padding:2.5px 7.5px}
table tr th{background:rgba(25,25,25,0.9);color:#FFF;border-right:1px solid #444;border-bottom:1px solid #444;text-align:left}
table tr th.last{border-right:1px solid #444}
div.centerContainer{width:960px;margin:0 auto}
.notification{display:block;padding:3px 10px 5px}
.green{background:#DFF4CB;color:#3A7202;border:1px solid #A3CE77}
.red{background:#F7D4D4;color:#D64848;border:1px solid #E5A2A2}
.yellow{background:#FFF8D3;color:#BA8209;border:1px solid #FFC300}
.minimal{background:none;border:none;padding:0}
table tr td.pagination{padding:1px 0 5px 5px}
table tr td.pagination a{display:inline-block;line-height:normal;color:#FFF;background:#000;border:1px solid #000;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;margin:0 7.5px 0 0;padding:1px 8px 5px 9px}
div.progressBar{width:360px;border:1px solid #000;position:relative;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;background:url(../img/prgrs_grey.png);margin:0 auto}
div.progressBar span{position:absolute;left:49%;top:-6px;color:#000}
div.progressBar div{height:20px;background-color:none}
div.progressBar.green div{background:url(../img/prgrs_green.png)}
div.progressBar.yellow div{background:url(../img/prgrs_yellow.png)}
div.progressBar.red div{background:url(../img/prgrs_red.png)}
#admin p{margin-top:0;padding-top:0}
#top{background:url(../img/topBg.png) top left repeat-x;height:233px}
#top ul{font-family:"League Gothic", Arial, sans-serif}
#top ul a{color:#DDD;text-decoration:none;font-size:1.8em;letter-spacing:.3px;padding:11px 15px}
#top ul li{display:inline-block;list-style-type:none;padding:11px 0}
#top ul li#active,#top ul li:hover,#top ul:hover li#active:hover{background:url(../img/menuArrow.png) top center no-repeat}
#top ul li#active a,#top ul li:hover a,#top ul:hover li#active:hover a{color:#FFF;background:none}
#top ul:hover li#active a{color:#DDD}
#header{background:url(../img/headerLogo.png) 15px center no-repeat;height:160px}
#header h1{text-indent:-10000px;height:165px;background:url(../img/headerTitle.png) center left no-repeat;margin:0 0 0 235px}
#middle div.centerContainer{padding:30px 15px}
#middle{min-height:100%;height:auto!important;margin-bottom:-289px;font-size:1.4em;padding-bottom:35px}
#middle p,#middle ul,#middle ol,#middle table{line-height:30px}
#fixFooter{height:289px;clear:both}
#bottom{background:url(../img/bottomBg.png) top left repeat-x;height:289px;font-size:1.4em;overflow:hidden;color:#EEE}
#bottom a{color:#FFF}
#bottom ul{list-style:none;padding-left:0;line-height:30px;display:inline-block;margin-bottom:15px}
#bottom h3{color:#FFF;margin-bottom:0;padding:10px 0 20px}
#bottom div.left{float:left;width:650px;overflow:hidden}
#bottom div.right{float:right;width:250px}
#bottom div.left div.left{float:left;width:250px}
#bottom div.left div.left ul li{padding-bottom:10px}
#bottom div.left div.right{float:right;width:330px}
#bottom div.left div.left h3,#bottom div.left div.right h3{margin-bottom:7.5px}
#footerBar{margin-top:12.5px;text-align:center;color:#AAA;padding:15px}
#guestbook{font-family:Tisa, sans-serif;padding:5px 0}
#guestbook div.entry{margin-bottom:15px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;background:rgba(255,255,255,0.5)}
#guestbook div.entry div.title{font-size:1.2em;background:rgba(255,255,255,0.5);border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;margin-bottom:10px;padding:10px 5px}
#guestbook div.entry div.content{line-height:24px;padding:10px 5px}
#pagination,#subNavigation,#subMenu{background:rgba(255,255,255,0.7);border:1px solid #AAA;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;margin:10px 0;padding:7.5px}
#pagination a,#subNavigation a,#subMenu a{display:inline-block;line-height:normal;color:#FFF;background:#000;border:1px solid #000;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;margin:0 2.5px;padding:5px 8px}
#subNavigation li{display:inline-block}
#subMenu{display:inline-block;margin:0;padding:0}
#subMenu li{list-style:none;margin:5px}
#subMenu li a{width:150px;margin:0}
#forums{margin:0 auto}
#poweredby{font-size:10px;color:#555;text-align:right;font-style:italic;padding-bottom:0;margin-bottom:0}
#forums table.forumCol{margin:0}
#forums table tr td,#forums table tr th{border:0}
#forums a{text-decoration:none}
#forums a:hover{color:#000;background:inherit}
#forums table.forumsmb{background:none;width:100%}
#forums table.tbTransparentmb{width:99%}
#forums table.tbTransparentmb tr td{background:#EEE}
#forums input[type=button],#forums input[type=submit],#forums input[type=reset]{padding:4px 5px}
#forums input,#forums textarea,#forums select{font-size:12px;border:1px solid #CCC;background:#FAFAFA;font-family:Verdana, sans-serif;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;margin:5px;padding:5px}
#tiptip_holder{display:none;position:absolute;top:0;left:0;z-index:99999}
#tiptip_holder.tip_top{padding-bottom:5px}
#tiptip_holder.tip_bottom{padding-top:5px}
#tiptip_holder.tip_right{padding-left:5px}
#tiptip_holder.tip_left{padding-right:5px}
#tiptip_content{font-size:12px;color:#fff;text-shadow:0 0 2px #000;border:1px solid rgba(255,255,255,0.25);background-color:rgba(25,25,25,0.92);background-image:0 to(#000));border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;box-shadow:0 0 3px #555;-webkit-box-shadow:0 0 3px #555;-moz-box-shadow:0 0 3px #555;padding:4px 8px}
#tiptip_arrow,#tiptip_arrow_inner{position:absolute;height:0;width:0;border-color:transparent;border-style:solid;border-width:6px}
#tiptip_holder.tip_top #tiptip_arrow{border-top-color:rgba(255,255,255,0.35)}
#tiptip_holder.tip_bottom #tiptip_arrow{border-bottom-color:rgba(255,255,255,0.35)}
#tiptip_holder.tip_right #tiptip_arrow{border-right-color:rgba(255,255,255,0.35)}
#tiptip_holder.tip_left #tiptip_arrow{border-left-color:rgba(255,255,255,0.35)}
#tiptip_holder.tip_top #tiptip_arrow_inner{margin-top:-7px;margin-left:-6px;border-top-color:rgba(25,25,25,0.92)}
#tiptip_holder.tip_bottom #tiptip_arrow_inner{margin-top:-5px;margin-left:-6px;border-bottom-color:rgba(25,25,25,0.92)}
#tiptip_holder.tip_right #tiptip_arrow_inner{margin-top:-6px;margin-left:-5px;border-right-color:rgba(25,25,25,0.92)}
#tiptip_holder.tip_left #tiptip_arrow_inner{margin-top:-6px;margin-left:-7px;border-left-color:rgba(25,25,25,0.92)}
h3,#forums h1.headingTitle{font-size:2em}
form.styled,#bottom div.centerContainer{overflow:hidden}
form.styled br,.clear{clear:both}
a.image:hover,#top ul:hover li#active{background:none}
table tr td.pagination a.current,table tr td.pagination a:hover,#bottom a:hover,#pagination a.current,#pagination a:hover,#subNavigation a.current,#subNavigation a:hover,#subMenu a.current,#subMenu a:hover{background:#FFF;color:#000}
*,table tr td .notification{margin:0;padding:0}
@media screen and -webkit-min-device-pixel-ratio0 {
#tiptip_content{background-color:rgba(45,45,45,0.88);padding:4px 8px 5px}
#tiptip_holder.tip_bottom #tiptip_arrow_inner{border-bottom-color:rgba(45,45,45,0.88)}
#tiptip_holder.tip_top #tiptip_arrow_inner{border-top-color:rgba(20,20,20,0.92)}
}