@charset "UTF-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background: url("../img/bodyBg.png") top left repeat;
    color: #FFF;
    font-family: "Verdana", Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

a {
    color: #eea1cf;
    text-decoration: none;
    padding: 1px 2px;
}

a:hover {
    background: #eea1cf;
    color: #000;
}

ul, ol {
    list-style: inside;
    margin-left: 5px;
}

ol {
    list-style: inside decimal;
}

p.pictureCaption {
    background: rgba(0,0,0, 0.2);
    color: #EEE;
    font-size: 1.4em;
    padding: 0;
    text-align: center;
}

p.pictureCaption img {
    margin: 20px 0 12px 0;
}

#container {
    width: 900px;
    margin: 0 auto;
}

#navigation {
    padding: 10px 0;
    text-align: left;
    font-size: 1.4em;
    border-bottom: 2px solid #EEE;
    margin: 0;
    background: rgba(0, 0, 0, 0.3);
}

#navigation li {
    display: inline-block;
}

#navigation li a {
    padding: 10px 20px;
}



#navigation:hover li a,
#navigation:hover li#current a {
    color: #eea1cf;
    background: none;
}

#navigation li a:hover,
#navigation li#current a,
#navigation:hover li a:hover,
#navigation:hover li#current a:hover {
    background: #EEE;
    color: #222;
}


#header {

    height: auto;
    /*background: url("../img/headerBg.png") center center no-repeat;*/
    border-bottom: 2px solid #EEE;
}

#content {
    font-size: 1.4em;
    line-height: 1.8em;
    padding: 10px 10px 20px 10px;
    background: rgba(0, 0, 0, 0.2);
}

div.floating {
    overflow: hidden;
}

div.floating div.left {
    float: left;
    width: 400px;
}

div.floating div.right {
    float: right;
    width: 400px;
}

#content h1, 
#content h2, 
#content h3 {
    padding-top: 20px;
    font-size: 20px;
}


#content p {
    padding: 10px 0;
}

#footer {
    text-align: center;
    border-top: 2px solid #EEE;
    font-size: 1.2em;
    padding: 10px;
    background: rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

iframe > a {
    cursor: default;
}