<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Accounts</key>
  <dict>
    <key>4F300F15-A2F7-BE3B-734F3AEEE834</key>
    <dict>
      <key>Ace Host</key>
      <string>d3ce95ba-b877-46b9-aec2-637f16b8ed92</string>
      <key>Assistant Identifier</key>
      <string>04644a69-34c8-4b11-8d14-4d298e3d5507</string>
      <key>Hostname</key>
      <string>https://IP.ADD.RE.SS:PORT/</string>
      <key>Last Assistant Data Anchor</key>
      <string>35e5d36b25daa0e6f95fab9cfcb78b4eaebe493e</string>
      <key>Last Sync Dates</key>
      <dict>
        <key>com.apple.alarm.label</key>
        <date>2011-12-24T15:15:53Z</date>
        <key>com.apple.contact.people</key>
        <date>2011-12-24T15:15:52Z</date>
        <key>com.apple.media.entities</key>
        <date>2011-12-24T15:15:54Z</date>
        <key>com.apple.reminder.list.name</key>
        <date>2011-12-24T15:15:53Z</date>
      </dict>
      <key>Needs Destruction</key>
      <true/>
      <key>Speech Identifier</key>
      <string>b80bc969-7454-4f9d-858f-3e12fad3dcb8</string>
      <key>Validation Expiration</key>
      <date>2011-12-26T18:04:20Z</date>
    </dict>
  </dict>
  <key>Session Language</key>
  <string>en-US</string>
</dict>
</plist>
